@import "tailwindcss";

@font-face {
  font-family: "Foundry";
  src: url("/api/font") format("truetype");
}

@theme {
  --font-foundry: "FoundryOverride", "Foundry";

  --color-orange: var(--color-orange-500);
  --color-dark: var(--color-neutral-900);
  --color-gray: var(--color-neutral-800);
  --color-light: var(--color-neutral-100);
}

@utility column {
  display: flex;
  flex-direction: column;
}

@utility column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@utility row {
  display: flex;
  flex-direction: row;
}

@utility row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
